<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Document</title>
    
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="/">hjem</a></li>
            <li><a href="kontakt">home</a></li>
            <li><a href="meny">contact</a></li>
            <li><a href="varer">about</a></li>
        </ul>
    </nav>
    
</body>
<footer class="footer">
    <h1> føtter</h1>
</footer>
</html>