<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Kantine Nettside Akademiet</title>
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="/">Hjem</a></li>
            <li><a href="meny">Meny</a></li>
            <li><a href="varer">Varer</a></li>
            <li><a href="kontakt">Kontakt</a></li>
        </ul>
    </nav>
    {%block content%}{%endblock%}
</body>
<footer class="footer">
    <p class="tekstfooter"> Akademiets Kantine </p>
</footer>
</html>